* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #0f0f17, #1a1a27);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #e5e7eb;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.2rem;
  font-weight: 500;
}

.container {
  display: flex;
  background-color: #ffffff0d;
  padding: 16px;
  border-radius: 24px;
  gap: 16px;
  border: solid 1px #ffffff14;
  width: 1000px;

  .controls {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    background-color: #ffffff0f;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #ffffff14;

    .control-group {
      display: flex;
      flex-direction: column;
      gap: 6px;

      label {
        font-size: 14px;
        font-weight: 500;
      }

      input[type="range"] {
        width: 100%;
        cursor: pointer;
        accent-color: #a78bfa;
        background: #4c4fef;
        appearance: none;
        border-radius: 8px;
        height: 5px;
      }

      input[type="color"] {
        width: 50px;
        height: 40px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        border-radius: 8px;
      }
    }
  }
}
