* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #0f0f17, #1a1a27);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #e5e7eb;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.2rem;
  font-weight: 500;
}

.container {
  display: flex;
  background-color: #ffffff0d;
  padding: 16px;
  border-radius: 24px;
  gap: 16px;
  border: solid 1px #ffffff14;
  width: 1000px;

  .controls {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    background-color: #ffffff0f;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #ffffff14;

    .control-group {
      display: flex;
      flex-direction: column;
      gap: 6px;

      label {
        font-size: 14px;
        font-weight: 500;
      }

      input[type="range"] {
        width: 100%;
        cursor: pointer;
        accent-color: #a78bfa;
        background: #4c4fef;
        appearance: none;
        border-radius: 8px;
        height: 5px;
      }

      input[type="color"] {
        width: 50px;
        height: 40px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        border-radius: 8px;
      }
    }

    .inline-group {
      display: flex;
      align-items: center;
      gap: 8px;

      input[type="checkbox"] {
        width: 18px;
        height: 18px;
        accent-color: #a78bfa;
        cursor: pointer;
      }

      label {
        cursor: pointer;
      }
    }
  }

  .result {
    width: 55%;
    height: 500px;
    background: linear-gradient(145deg, #e6e6e6, #eceff3);
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 14px;

    .output-box {
      background: linear-gradient(135deg, #ffffff, #f1f3f6);
      width: 250px;
      height: 250px;
      border-radius: 18px;
    }

    .code-output {
      background: #111114;
      padding: 16px 20px;
      border-radius: 10px;
      font-size: 0.9rem;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 450px;

      .code-header {
        display: flex;
        justify-content: space-between;

        p {
          font-size: 0.8rem;
          color: #cfcfcf;
        }

        button {
          background-color: transparent;
          color: #fff;
          display: flex;
          gap: 4px;
          align-items: center;
          cursor: pointer;
          border: none;
        }
      }

      .code-line {
        word-break: break-all;
        color: #42e2d8;

        span {
          color: #ff59a0;
        }
      }
    }
  }
}
