* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #0f0f17, #1a1a27);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #e5e7eb;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.2rem;
  font-weight: 500;
}

.container {
  display: flex;
  background-color: #ffffff0d;
  padding: 16px;
  border-radius: 24px;
  gap: 16px;
  border: solid 1px #ffffff14;
  width: 1000px;
}
